<?php 
    $inputtype = $this->element->inputtype;
    if(!isset($this->element->inputtype)) {
        $inputtype = 'text';
    }
?>
<label><?php print $this->element->getLabel(); ?></label>
  <input name="<?php print $this->element->getName();?>" type="<?php print $inputtype ?>" class="span3" placeholder="<?php print $this->element->placeholder; ?>">
  <span class="help-block"><?php print $this->element->getDescription(); ?></span>
