<?= $this->doctype(); ?>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <?php echo $this->headTitle() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">404 Crawler Report</a>
          <div class="nav-collapse">
              <?php print $this->navigation(); ?>
            <!--
			<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
			-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    
    <div class="container">
    
    <?= $this->layout()->content; ?>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/jquery.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-transition.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-alert.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-modal.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-tab.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-popover.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-button.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-typeahead.js"></script>
	<?php echo $this->headStyle() ?>
    <?php echo $this->headScript() ?>
  </body>
</html>
