    
      <h4>
          Last check: <?php print $this->lastCheck; ?> | 
          Total pages with problems: <?php print $this->count; ?> | 
          <a href="<?php echo $this->baseUrl(); ?>/index/download?section=<?php print $this->section; ?>">Download CSV</a>
      
      </h4>
      
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable(<?php print $this->analytics; ?>);
            var chart = new google.visualization.LineChart(document.getElementById('analytics'));
            var options = {
              title: 'History'
            };
            chart.draw(data, options);
          }
        </script>
      
      <div id="analytics" style="width:100%;height:100px;"></div>
      
      <?php print $this->tabulate($this->table, array('class' => 'table table-striped', 'html' => true)); ?>


